<p class="font-bold text-red-600">Créer un compte</p>
<form>
    <div class="flex py-7">
    <label class="px-4 ">Votre adresse email</label>
    <input type="text" class="placeholder-shown:border-gray-500 border" placeholder="you@example.com" />
</div>

<div class="flex  py-7">
    <label class="px-4 pr-4">Mot de passe</label>
    <input class="placeholder-shown:border-gray-500 border" type="password" placeholder="**********" />
</div>
<button class="bg-green-900 rounded px-2 py-1">Valider</button>
</form>
